<section class="thirteen columns">
	<h1>Education</h1>
	<article>
		<header>
		<h1>MSc in Scientific Computing</h1>
		<!-- <span><a href="https://www.tugraz.at/">Heidelberg University, Germany</a></span> -->
		<span>Heidelberg University</a></span>
		<span><address>Heidelberg, Germany</address><time>2015 to 2019</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>BEng. in Computer Science</h1>
		<!-- <span><a href="http://www.tuwien.ac.at/en/">Ocean University of China, Qingdao College, China</a></span> -->
		<span>Ocean University of China, Qingdao College</a></span>
		<span><address>Qingdao, China</address><time>2010 to 2014</time></span>
		</header>
	</article>
</section>
