<section class="thirteen columns">
	<h1>Internship</h1>
	<article>
		<header>
		<h1>Research Assistant</h1>
		<span>Image Analysis and Learning Lab of Heidelberg University</a></span>
		<span><address>Heidelberg, Germany</address><time>Nov, 2017 to Feb, 2019</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Project Assistant</h1>
			<!-- <span><a href="http://learning.eng.cam.ac.uk/Public/">CBL Lab of University of Cambridge</a></span> -->
			<span>Computer Vision Lab of Heidelberg University</a></span>
			<span><address>Heidelberg, Germany</address><time>Feb, 2017 to May, 2017</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Project Assistent</h1>
			<span>Biomedical Computer Vision Lab of Heidelberg University</a></span>
			<span><address>Heidelberg, Germany</address><time>Nov, 2016 to Feb, 2017</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>Principle Investigator</h1>
		<span>Ocean University of China, Qingdao College</a></span>
		<span><address>Qingdao, China</address><time>May, 2013 to Nov, 2013</time></span>
		</header>
	</article>
</section>
