<section class="thirteen columns">
	
	<h1>Preprints</h1>
	<article>
        <p><em>Jin Li</em>, Xurong Xie, Nan Yan, Lan Wang. <a href="https://arxiv.org/abs/2108.07980"><span style="text-decoration: underline;">Two Streams and Two Resolution Spectrograms Model for End-to-end Automatic Speech Recognition</span></a>. ArXiv, 2021.</p>
	</article>
	<article>
        <p><em>Jin Li</em>, Nan Yan, Lan Wang. <a href="https://arxiv.org/abs/2108.07974"><span style="text-decoration: underline;">FDN: Finite Difference Network with Hierachical Convolutional Features for Text-independent Speaker verification</span></a>. ArXiv, 2021.</p>
	</article>

    <h1>Conference Papers (Peer-Reviewed)</h1>
	<article>
        <p><em>Jin Li</em>, Nan Yan, Lan Wang. <span style="text-decoration: underline;">Unsupervised Cross-Lingual Speech Emotion Recognition Using Pseudo Multilabel </span>. Accepted by <span style="font-style: italic;">2021 IEEE Automatic Speech Recognition and Understanding Workshop
(ASRU)</span>, 2021.</p>
	</article>
	
<!--
    <h1>Workshop Papers (Peer-Reviewed)</h1>
	<article>
	<p>Brigitte Krenn, <em>Martin Trapp</em>, Stephanie Gross, Friedrich Neubarth. <a href="https://www2.informatik.uni-hamburg.de/wtm/WorkshopCrossmodalLearning2017/papers/Krenn_Final.pdf"><span style="text-decoration: underline;">Crossmodal Cross-situational Learning with Attention</span></a>. <span style="font-style: italic;">Workshop on Computational Models for Crossmodal Learning at ICDL-EPIROB</span>, 2017.</p>
	</article>
    	<article>
    	<p><em>Martin Trapp</em>, Robert Peharz, Marcin Skowron, Tamas Madl, Franz Pernkopf and Robert Trappl. <a href="https://drive.google.com/open?id=0B3WHb3BabixAVWFVaDEzdThSbk0"><span style="text-decoration: underline;">Structure Inference in Sum-Product Networks using Infinite Sum-Product Trees</span></a>. <span style="font-style: italic;">Practical Bayesian Nonparametrics Workshop at NIPS</span>, 2016.</p>
	</article>
    	<article>
    	<p><em>Martin Trapp</em>. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxuaXBzYm5wMjAxNXxneDo3ZDM0ZmNjNjgwNzhlNTA2"><span style="text-decoration: underline;">BNP.jl: Bayesian nonparametrics in Julia</span></a>. <span style="font-style: italic;">Bayesian Nonparametrics: The Next Generation Workshop at NIPS</span>, 2015.</p>
	</article>
    	<article>
	<p>Florian Schulze, <em>Martin Trapp</em>, Katja B&uuml;hler, Tianxiao Liu, Barry J. Dickson. <a href="https://www.vrvis.at/publications/pdfs/PB-VRVis-2012-012.pdf"><span style="text-decoration: underline;">Similarity Based Object Retrieval of Composite Neuronal Structures</span></a>. <span style="font-style: italic;">Workshop on 3D Object Retrieval at Eurographics</span>, 2012.</p> 
	</article>
    
    <h1>Talks</h1>
	<article>
        Infinite Sum-Product Networks. Conference on Bayesian nonparametrics (BNP 11), 2017.
	</article>
	<article>
        Software Panel at the Practical Bayesian Nonparametrics Workshop at the Annual Conference on Neural Information Processing Systems (NIPS) in 2016
	</article>

    <h1>Code</h1>
	<article>
        <a href="https://github.com/trappmartin/SSLSPN_UAI2017">Safe Semi-Supervised Learning of Sum-Product Networks</a> (2017)
	</article>
	<article>
        <a href="https://github.com/trappmartin/PWMD_ICTIR2017">Retrieving Compositional Documents using Position-Sensitive Word Mover's Distance</a> (2017)
	</article>
	<article>
        <a href="https://github.com/OFAI/BayesianNonparametrics.jl">BNP.jl: Bayesian nonparametrics in Julia</a> (2015)
	</article>
	
    <h1>Posters</h1>
	<article>
    	BrainImage - Retrieval of globally and locally similar confocal images of the Drosophila central nervous system. Presented at <span style="font-style: italic;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
	<article>
    	BrainNeuron - Retrieval of globally and locally similar segmented neuronal representations in Drosophila. Presented at <span style="font-style: italic;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
-->
</section>
	
