<section class="thirteen columns">
    <h1>General Information</h1>
    <article>
    <p>
I am currently a PhD candidate in the Department of Electrical and Electronic Engineering supervised by Prof. <a href="http://www.eie.polyu.edu.hk/~mwmak/mypage.htm">Man-Wai Mak</a>
<br> <br>
	    Previously, I worked in speech processing group in Shenzhen Institutes of Advanced Technology (SIAT), Chinese Academy of Sciences with Prof. <a href="https://www.researchgate.net/profile/Lan-Wang-58">Lan Wang</a>, Prof. <a href="http://english.siat.cas.cn/SI2017/IAIT2017/RC1/CSI/Researchers1/201707/t20170719_179998.html">Nan Yan</a>, and Dr. <a href="https://scholar.google.com/citations?user=bGD7wa0AAAAJ&hl=en">Xurong Xie</a>.
           I also worked closely with Prof. <a href="https://scholar.google.com/citations?user=gFtI-8QAAAAJ&hl=zh-CN">Yu Qiao</a> and Assoc. Prof. <a href="https://scholar.google.com/citations?hl=zh-CN&user=7oRD67kAAAAJ&view_op=list_works&sortby=pubdate">Xiaojiang Peng</a> in mmlab of SIAT.
<br> <br>
My research areas includes speech related area related to computer vision, machine learning and speech-related research such as Automatic speech Recognition (ASR), Speaker Verification, Speech Emotion Recognition, Video Understanding, Object Tracking, domain adaptation/generalization, and few-shot learning. 
<br> <br>
	    My published papers can be find in <a href="https://scholar.google.com/citations?user=WBoT7G4AAAAJ&hl=en">GoogleScholar</a>
	    </p>
    </article>
</section>
