<section class="thirteen columns">
    <h1>General Information</h1>
    <article>
    <p>
I am currently working in speech processing group in Shenzhen Institutes of Advanced Technology (SIAT), Chinese Academy of Sciences. Previously, I received B.S. degree from Ocean University of China, Qingdao College, and MSc degree from Heidelberg University, Germany in 2019. My research interests are: machine learning and computer vision. 
<br>
My research areas includes speech related area and computer vision such as Automatic speech Recognition (ASR), Speaker Verification, Speech Emotion Recognition, Video Understanding, Object Tracking. 
	</p>
    </article>
</section>
